* {
  margin: 0;
  box-sizing: border-box;
  display: flex;

  overflow-x: hidden;
}

body{
  flex-flow: column nowrap;
}

.buttons-container {
  position: fixed;
  flex-direction: column;
  z-index: 100;
  top: 50%;
  right: 0;
  transform: translateY( -50%);
}

.navigation-button {
  transition: 0.2s ease;
  width: 0.7vw;
  height: 0.7vw;
  margin: 10px;
  margin-right: 30px;
  background-color: white;
  border-radius: 0.2vw;
  opacity: 0.5;
}

#parallax-container {
  height: 100vh;
  width: 100vw;
}

.parallax-computers{
  position: fixed;
  z-index: 10;
  top: 50%;
  left: 55%;
  width: 40vw;
  transform: translate(-100%, -50%);
}

.parallax-computers-text{
  opacity: 0.2;
  top: -37%;
  left: 4%;
  z-index: 5;
  position: fixed;
  width: 40vw;
  transform: translateX(-100%);
}

.parallax-computers-title{
  opacity: 0.8;
  top: 59%;
  left: 40%;
  z-index: 12;
  position: fixed;
  width: 50vw;
  transform: translateX(-100%);
}

.parallax-to-title{
  opacity: 0.8;
  top: 30%;
  left: -7%;
  z-index: 12;
  position: fixed;
  width: 30vw;
  transform: translateX(-100%);
}

.parallax-computers-to{
  opacity: 0.8;
  top: 19%;
  left: 51%;
  z-index: 12;
  position: fixed;
  width: 60vw;
  transform: translateX(-100%);
}

.parallax-item {
  background-size: cover !important;
  position: fixed;
  z-index: -1;
  top: 0;
  background-position: center !important;
  transform: translateY(0px);
  height: 100%;
  width: 100%;
}

.slide {
  position: absolute;
  width: 100%;
  height: 100%;
  clip: rect(0, auto, auto, 0);
}

.slide-container {
  position: relative;
  width: 100vw;
  height: 100vh;
}
